<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kikobeats.title</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>C243B9EA-77A2-4B67-BC47-00C6629E2C61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD785866-9C0C-415A-96A0-53BC16675D38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kiko Beats</string>
	<key>description</key>
	<string>Capitalize your title based on The Chicago Manual of Style guide.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>title</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CD785866-9C0C-415A-96A0-53BC16675D38</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
                                <string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Wait...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string>Based on The Chicago Manual of Style</string>
				<key>title</key>
				<string>Capitalize Your Title</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C243B9EA-77A2-4B67-BC47-00C6629E2C61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
                <key>C243B9EA-77A2-4B67-BC47-00C6629E2C61</key>
		<dict>
			<key>xpos</key>
                        <integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
                <key>CD785866-9C0C-415A-96A0-53BC16675D38</key>
		<dict>
			<key>xpos</key>
                        <integer>700</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>kikobeats.com</string>
</dict>
</plist>
